#PyYAML==5.3.1
--extra-index-url https://download.pytorch.org/whl/cu117
torch==1.13.1+cu117
torchvision==0.14.1+cu117
torchmetrics==0.10.3
tensorflow-gpu==2.10.1

boto3==1.28.63
botocore==1.31.63
efficientnet_pytorch==0.7.1
geopandas==0.13.0
joblib==1.2.0
natsort==8.4.0
wandb==0.15.12
shapely==2.0.1
seaborn

# Anomalib
albumentations==1.3.1
comet_ml==3.33.11
einops==0.7.0
FrEIA==0.2
imgaug==0.4.0
jsonargparse==4.25.0
kornia==0.6.9
matplotlib==3.8.0
numpy==1.26.0
omegaconf==2.3.0
opencv_python==4.8.1.78
opencv_python_headless==4.8.1.78
openvino==2023.0.0
pandas==2.1.1
Pillow==10.0.1
pytorch_lightning==1.9.5
Requests==2.31.0
scikit_learn==1.0.2
scipy==1.11.3
setuptools==65.5.1
tifffile==2023.9.26
tqdm==4.66.1
urllib3
timm==0.9.7
tensorboard==2.10.1

# Dashcam
av==10.0.0
pymongo==4.5.0
streamlit==1.22.0
streamlit_webrtc==0.47.1
twilio==8.9.0
websockets==11.0.3

# Yolov7
youtube-dl @ git+https://github.com/ytdl-org/ytdl-nightly@2023.09.25
pafy==0.5.5

# Train with lightning
lightning==2.0.2

# Emia Utils
httplib2==0.22.0
pytz~=2023.3.post1
schedule==1.2.1

# Database
sqlalchemy==2.0.22
psycopg2-binary==2.9.9

# Custom libs
libs @ git+https://github.com/foxelas/libs@v1
EMIA__utils @ git+https://github.com/Interactive-Coventry/EMIA__utils@v1

# Firebase
#gcsfs==2023.9.2
#git+https://github.com/streamlit/files-connection
#protobuf==3.19.5
firebase-admin==6.2.0
google-auth==2.23.3
google-api-python-client==2.105.0
google-cloud-core==2.3.3
google-cloud-storage==2.12.0
google-cloud-firestore==2.13.0

# Maps
streamlit-folium==0.15.0
folium==0.14.0